<div id="fondo">
    
    <div class="fila">
        <div class="parrafo">
            <h2 class="titulo">¿Quien soy? <span>&#160;</span></h2>
            <p class="contenido">Hola, que tal, me llamo Franco Lopez pero me dicen Niko.</p>
        </div>
        <div class="parrafo">
            <h2 class="titulo">¿Cuando empeze?</h2>
            <p class="contenido">Formalmente empeze mis estudios cuando entre en la universidad, pero la pasion por crear contenido y mi acercamiento a la informatica comenzo muchos años antes</p>
        </div>
        <div class="parrafo">
            <h2 class="titulo">¿Porque soy programador?</h2>
            <p class="contenido">Siempre tuve el sueño de mejorar nuestro mundo, y a travez de la programacion, encontre un arma poderosa con la cual cumplirlo</p>
        </div>
    </div>
    <div id="foto">
        <app-perfil></app-perfil>
    </div>
    <div class="fila">
        <div class="parrafo">
            <h2 class="titulo">¿Que soy?</h2>
            <p class="contenido">Soy programador Fullstack y desarrollador de aplicaciones</p>
        </div>
        <div class="parrafo">
            <h2 class="titulo">¿Donde aprendi todo?</h2>
            <p class="contenido">Soy una persona muy autodidacta, asi que no me quedaba solo con lo que aprendi en la universidad, buscaba informacion desde muchas fuentes, de internet, amistades, charlas, incluso desde la misma experiencia atravez de la prueba y error</p>
        </div>
        <div class="parrafo"> 
            <h2 class="titulo">¿Como llegue aqui?</h2>
            <p class="contenido">Desde muy chico tuve fascinacion por la tecnologia. Cuando tuve mi primera computadora, descubri un nuevo mundo de posibilidades que tenia que explorar</p>
        </div>
       
    </div>
    
</div>