<header class="header">
    <div class="container">
        <h1 id="titulo">{{titulo}}</h1>
    </div>    
    <div class="n">
        <div class="m">
        <a routerLink="" class="menu" href="#">Home</a>
        <a routerLink="skills/gallery" class="menu" href="#">Habilidades</a>
        <a routerLink="contact" class="menu" href="#">Contacto</a>
        <a routerLink="login" class="menu" type="button" href="#">Log</a>
        <a routerLink="messages" id="messages" class="menu" href="#">Mensajes</a>
        <a routerLink="skills" id="skills" class="menu" href="#">Skills</a>
        </div>        
        <img type="button" id="modo" (click)='modo()' src={{imageURL}} alt={{alt}}/> 
    </div>  
</header>
<div class="fondo">   </div>


